@tailwind base;
/* @tailwind components; */
/* @tailwind utilities; */



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --text-single-100-bold-font-family: "DMSans-Bold", Helvetica;
  --text-single-100-bold-font-size: 16px;
  --text-single-100-bold-font-style: normal;
  --text-single-100-bold-font-weight: 700;
  --text-single-100-bold-letter-spacing: 0px;
  --text-single-100-bold-line-height: 18px;
  --text-single-200-regular-font-family: "DMSans-Regular", Helvetica;
  --text-single-200-regular-font-size: 18px;
  --text-single-200-regular-font-style: normal;
  --text-single-200-regular-font-weight: 400;
  --text-single-200-regular-letter-spacing: 0px;
  --text-single-200-regular-line-height: 18px;
}
